/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --section-background: #ececec;
  --section-padding: 100px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Main Title */
.main-title {
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 20px;
  margin: 0 auto 80px;
  border: 2px solid black;
  width: fit-content;
  transition: 0.5s;
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: var(--main-color-alt);
  border-radius: 50%;
  transition: 0.5s;
  z-index: -1;
}
.main-title::before {
  left: -30px;
}
.main-title::after {
  right: -30px;
}
.main-title:hover {
  transition-delay: 0.5s;
  color: white;
  border-color: white;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.5s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.5s linear forwards;
}
/* End Global Rules */
/* Start Header */
.header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  box-shadow: 0 0 10px #ddd;
  width: 100%;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header .logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .header {
    width: 100%;
  }
  .header .logo {
    width: 100%;
    height: 50px;
  }
}
.header .main-nav {
  display: flex;
}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
    width: 100%;
    justify-content: space-evenly;
  }
}
.header .main-nav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  position: relative;
  color: black;
  padding: 0 30px;
  font-size: 18px;
  overflow: hidden;
  transition: var(--main-transition);
}
@media (max-width: 767px) {
  .header .main-nav > li > a {
    padding: 0 0px;
  }
}
.header .main-nav > li > a:hover {
  background-color: #fafafa;
  color: var(--main-color);
}
.header .main-nav > li > a::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 4px;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
.header .main-nav > li > a:hover::before {
  left: 0;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--section-background);
  transform: translateY(-120px) skewY(-6deg);
  z-index: -1;
}
.landing .container {
  display: flex;
  height: calc(100vh - 75px);
  align-items: center;
  justify-content: center;
  padding-bottom: 120px;
}
.landing .container .landing-text {
  width: 50%;
}
@media (max-width: 991px) {
  .landing .container {
    padding-bottom: 120px;
  }
  .landing .container .landing-text {
    width: 100%;
    text-align: center;
  }
}
.landing .landing-text .title {
  font-size: 40px;
  font-weight: 700;
}
.landing .landing-text .description {
  font-size: 23px;
  font-weight: 400;
  line-height: 40px;
  color: #666;
}
.landing .container .landing-image {
  width: 50%;
}
@media (max-width: 991px) {
  .landing .landing-text .title {
    font-size: 28px;
  }
  .landing .landing-text .description {
    font-size: 18px;
  }
  .landing .container .landing-image {
    display: none;
  }
}
.landing .container .landing-image img {
  width: 100%;
  animation-name: land-up-down;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.landing .go-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--main-color);
}
.landing .go-down i {
  animation-name: arrow-up-down;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
/* End Landing */
/* Start Megamenu */
.header .main-nav li:last-child:hover .mega-menu {
  opacity: 1;
  top: calc(100% + 1px);
  z-index: 100;
}
.header .mega-menu {
  position: absolute;
  opacity: 0;
  width: 100%;
  left: 0;
  top: calc(100% + 50px);
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  display: flex;
  padding: 30px;
  gap: 40px;
  transition: top var(--main-transition), opacity var(--main-transition);
}
@media (max-width: 767px) {
  .header .mega-menu {
    flex-direction: column;
    gap: 0;
  }
}
.header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  .header .mega-menu .image img {
    display: none;
  }
}
.header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
.header .mega-menu .links li {
  position: relative;
  font-size: 18px;
  font-weight: bold;
}
.header .mega-menu .links li a {
  padding: 15px;
  display: block;
  width: 100%;
  height: 100%;
}
.header .mega-menu .links li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #fafafa;
  z-index: -1;
  transition: var(--main-transition);
}
.header .mega-menu .links li:hover::before {
  width: 100%;
}
.header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  .header .mega-menu .links:first-of-type li:nth-child(5) {
    border-bottom: 1px solid #e9e6e6;
  }
}
.header .mega-menu .links i {
  margin-right: 10px;
}
.header .mega-menu .links a {
  color: var(--main-color);
}
/* End Megamenu */
/* Start Articles */
.articles {
  padding: var(--section-padding) 0;
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  margin: auto;
  max-width: 100%;
}
.articles .container .card {
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  transition: var(--main-transition);
}
.articles .container .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.articles .container .card img {
  max-width: 100%;
}
.articles .container .card .content {
  padding: 20px;
}
.articles .container .card .content h3 {
  margin: 0;
}
.articles .container .card .content p {
  color: #777;
  line-height: 1.5;
  margin: 10px 0 0;
}
.articles .container .card .info {
  padding: 20px;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
}
.articles .container .card .info a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .card .info i {
  color: var(--main-color);
  font-weight: 600;
}
.articles .container .card:hover .info i {
  animation-name: more-arrow;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
/* End Articles */
/* Start Gallery */
.gallery {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  max-width: 100%;
}
.gallery .container .item {
  overflow: hidden;
  position: relative;
  background-color: white;
  padding: 15px;
}
.gallery .container .item .image {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}
.gallery .container .item .image::before {
  content: "";
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.gallery .container .item .image img {
  max-width: 100%;
}
.gallery .container .item .image:hover img {
  transition: var(--main-transition);
  transform: scale(1.1) rotate(5deg);
}
.gallery .container .item .image:hover::before {
  animation-name: flashing;
  animation-duration: 0.5s;
  animation-fill-mode: initial;
  animation-play-state: running;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-direction: normal;
  z-index: 999;
}
/* End Gallery */
/* Start Features */
.features {
  padding: var(--section-padding) 0;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  max-width: 100%;
}
.features .feature {
  border: 1px solid #ccc;
}
.features .feature .image {
  position: relative;
  overflow: hidden;
}
.features .feature .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.features .quality .image::before {
  background-color: rgb(244 64 54 / 60%);
}
.features .time .image::before {
  background-color: rgb(0 150 136 / 60%);
}
.features .passion .image::before {
  background-color: rgb(3 169 244 / 60%);
}
.features .feature .image::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  border-style: solid;
  border-width: 0 0 170px 500px;
  border-color: transparent transparent white;
  transition: var(--main-transition);
}
.features .feature .image img {
  max-width: 100%;
}
.features .feature .content {
  text-align: center;
  padding: 25px;
}
.features .feature .content .title {
  position: relative;
  margin: 0 auto;
  font-size: 40px;
  width: fit-content;
}
.features .feature .content .title::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: -25px;
  width: 70%;
  height: 4px;
}
.features .quality .content .title::after {
  background-color: rgb(244, 64, 54);
}
.features .time .content .title::after {
  background-color: rgb(0, 150, 136);
}
.features .passion .content .title::after {
  background-color: rgb(3, 169, 244);
}
.features .feature .content .description {
  margin: 30px 0;
  padding: 25px 0;
  font-size: 20px;
  line-height: 2;
  color: #777;
}
.features .feature .content .more {
  position: relative;
  display: block;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 30px;
  border: 3px solid transparent;
  border-radius: 5px;
  width: fit-content;
  margin: 0 auto;
  transition: var(--main-transition);
}
.features .quality .content .more {
  color: rgb(244, 64, 54);
  border-color: rgb(244, 64, 54);
}
.features .time .content .more {
  color: rgb(0, 150, 136);
  border-color: rgb(0, 150, 136);
}
.features .passion .content .more {
  color: rgb(3, 169, 244);
  border-color: rgb(3, 169, 244);
}
.features .feature .content .more::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.features .quality .content .more::before {
  background-color: rgb(244, 64, 54);
}
.features .time .content .more::before {
  background-color: rgb(0, 150, 136);
}
.features .passion .content .more::before {
  background-color: rgb(3, 169, 244);
}
.features .feature:hover .more {
  color: #fff;
}
.features .feature:hover .more::before {
  width: 100%;
}
.features .feature:hover .image::after {
  border-width: 170px 500px 170px 0;
}
/* End Features */
/* Start Testimonials */
.testimonials {
  padding: var(--section-padding) 0;
  background-color: var(--section-background);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
  max-width: 100%;
}
.testimonials .card {
  background-color: white;
  position: relative;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.07);
}
.testimonials .card img {
  position: absolute;
  width: 100px;
  top: -50px;
  right: -10px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
.testimonials .card .name {
  margin-top: 0;
  margin-bottom: 10px;
}
.testimonials .card .title {
  display: block;
  margin-top: 0;
  margin-bottom: 10px;
  color: #777;
}
.testimonials .card .stars .filled {
  color: #ffc107;
}
.testimonials .card .text {
  color: #777;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 0;
}
/* End Testimonials */
/* Start Team */
.team {
  padding: var(--section-padding) 0;
}
.team .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  max-width: 100%;
}
.team .box {
  position: relative;
  transition: var(--main-transition);
}
.team .box::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: -2;
}
.team .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  transition: var(--main-transition);
  z-index: -2;
}
.team .box:hover .data img {
  filter: grayscale(1);
}
.team .box:hover::after {
  width: calc(100% - 60px);
}
.team .box .data {
  display: flex;
  padding-top: 60px;
}
.team .box .data img {
  width: calc(100% - 60px);
  border-radius: 10px;
  transition: var(--main-transition);
}
.team .box .data .social {
  display: flex;
  flex-direction: column;
  width: 60px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}
.team .data .social a {
  height: 30px;
  color: #687c8c;
}
.team .social a:hover {
  color: var(--main-color);
}
.team .box .info {
  margin-left: 80px;
}
.team .box .info .title {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
}
.team .box .info .description {
  margin-top: 10px;
  margin-bottom: 25px;
}
/* End Team */
/* Start Animations*/
@keyframes land-up-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes arrow-up-down {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes left-move {
  50% {
    left: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    left: 0;
    border-radius: 0;
    height: 100%;
    width: 60%;
  }
}
@keyframes right-move {
  50% {
    right: 0;
    height: 12px;
    width: 12px;
  }
  100% {
    right: 0;
    border-radius: 0;
    height: 100%;
    width: 50%;
  }
}
@keyframes more-arrow {
  100% {
    transform: translateX(10px);
  }
}
@keyframes flashing {
  50% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0);
  }
}
/* End Animations*/
